<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ-VfNtOyJbsaxu43Kztf_cv1mgBG6ZIQZEVw&usqp=CAU'>

# Procesamiento de Lenguaje Natural

## Taller #3: Web Scraping
`Fecha de entrega: Marzo 11, 2021. (Antes del inicio de la próxima clase).`

# Punto 1:

- `[15 pts]` Hacer Web Scraping de 10 animales en Wikipedia (en búcle)
- `[10 pts]` Obtener el **encabezado** de cada animal
- `[15 pts]` Obtener todos los **textos** que están en las etiquetas de negrilla del primer párrafo.

In [183]:
import bs4 as bs 
import urllib.request
import pandas as pd
import re

In [135]:
# Crear una lista con animales que me gusten

animales = ["narval", "leon", "tardigrado", "medusas", "conejo", "tigre", "vaca", "perro", "chicharra", "chiguiro"]

In [136]:
#Creamos un vector que nos almacene cada uno de los resultados en una lista, esto por medio de un loop

source = []
for _ in animales:
    base = "https://es.wikipedia.org/wiki/"
    link = base + _
    request = urllib.request.Request(link, headers={'User-Agent': 'Mozilla/5.0'})
    webpage = urllib.request.urlopen(request)
    a = webpage.read()
    source.append(a)
webpage.close()

10

In [142]:
titulos = []
for _ in source:
    soup = bs.BeautifulSoup(_, 'html.parser')
    top = soup.find("body").find("h1").text
    titulos.append(top)
# titulos

['Monodon monoceros',
 'Panthera leo',
 'Tardigrada',
 'Medusozoa',
 'Oryctolagus cuniculus',
 'Panthera tigris',
 'Bos primigenius taurus',
 'Canis familiaris',
 'Cicadidae',
 'Hydrochoerus hydrochaeris']

In [199]:
nombres = []
for _ in source:
    soup = bs.BeautifulSoup(_, 'html.parser')
    primer_parrafo = soup.find("body").find("p")
    negritas = primer_parrafo.find_all("b")
    a = []
    for n in range(0,len(negritas)):
        a.append(negritas[n].text)
    nombres.append(a)
# nombres

In [181]:
tabla = {"Animal" : animales, "Nombre científico" : titulos, "Otros nombres" : nombres}
df = pd.DataFrame(tabla)
df

,Animal,Nombre científico,Otros nombres
0,narval,Monodon monoceros,"[narval, Monodon monoceros]"
1,leon,Panthera leo,"[león, Panthera leo]"
2,tardigrado,Tardigrada,"[tardígrados, Tardigrada, osos de agua]"
3,medusas,Medusozoa,"[medusas, Medusozoa, aguamalas, malaguas, agua..."
4,conejo,Oryctolagus cuniculus,"[conejo común, conejo europeo , Oryctolagus cu..."
5,tigre,Panthera tigris,"[tigre, Panthera tigris]"
6,vaca,Bos primigenius taurus,"[vaca, toro, Bos primigenius taurus]"
7,perro,Canis familiaris,"[perro, Canis familiaris, Canis lupus familiar..."
8,chicharra,Cicadidae,"[cicádidos, Cicadidae, cigarras, chicharras, c..."
9,chiguiro,Hydrochoerus hydrochaeris,"[Hydrochoerus hydrochaeris, capibara, carpinch..."

# Punto 2:
- `[10 pts]` Usando regex, reemplazar todas las caracteres especiales del punto anterior (palabras en negrilla) por un asterisco (¡Ojo, los espacios se quedan!)

In [203]:
for i in range(0, len(nombres)):
    # re.sub(r"[a-zA-Z]", "*", _)
    for j in range(0, len(nombres[i])):
        nombres[i][j] = re.sub("[:áéíóúñüã:]", "*", nombres[i][j])
nombres

[['narval', 'Monodon monoceros'],
 ['le*n', 'Panthera leo'],
 ['tard*grados', 'Tardigrada', 'osos de agua'],
 ['medusas',
  'Medusozoa',
  'aguamalas',
  'malaguas',
  'aguavivas',
  'aguacuajito,',
  'aguacuajada,',
  'l*grimas de mar'],
 ['conejo com*n', 'conejo europeo ', 'Oryctolagus cuniculus'],
 ['tigre', 'Panthera tigris'],
 ['vaca', 'toro', 'Bos primigenius taurus'],
 ['perro',
  'Canis familiaris',
  'Canis lupus familiaris',
  'perro dom*stico',
  'can',
  'chucho',
  'tuso',
  'choco'],
 ['cic*didos',
  'Cicadidae',
  'cigarras',
  'chicharras',
  'coyoyos',
  'chiquilichis',
  'tococos',
  'cocoras',
  'cogollos',
  '*es',
  'c*cadas',
  '*akyr*'],
 ['Hydrochoerus hydrochaeris', 'capibara', 'carpincho', 'chig*ire']]